[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group akmenu4
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group akmenu4
	label-Verified = -1..+1 group akmenu4
	push = group akmenu4
	read = group akmenu4
	rebase = group akmenu4
	removeReviewer = group akmenu4
	submit = group akmenu4
[access "refs/heads/*"]
	create = group akmenu4
	push = +force group akmenu4
	pushMerge = group akmenu4
	read = group akmenu4
[access "refs/tags/*"]
	push = group akmenu4
	push = +force group akmenu4
