[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group akmenu4
	owner = group user/lifehackerhansol
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group akmenu4
	label-Code-Review = -2..+2 group user/lifehackerhansol
	label-Verified = -1..+1 group akmenu4
	label-Verified = -1..+1 group user/lifehackerhansol
	push = group akmenu4
	push = group user/lifehackerhansol
	read = group akmenu4
	read = group user/lifehackerhansol
	rebase = group akmenu4
	rebase = group user/lifehackerhansol
	removeReviewer = group akmenu4
	removeReviewer = group user/lifehackerhansol
	submit = group akmenu4
	submit = group user/lifehackerhansol
[access "refs/heads/*"]
	create = group akmenu4
	create = group user/lifehackerhansol
	push = +force group akmenu4
	push = +force group user/lifehackerhansol
	pushMerge = group akmenu4
	pushMerge = group user/lifehackerhansol
	read = group akmenu4
	read = group user/lifehackerhansol
[access "refs/tags/*"]
	push = group akmenu4
	push = group user/lifehackerhansol
	push = +force group user/lifehackerhansol
